.our_inspiration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    align-self: stretch;
    background: #FFF;
    padding: 6vw;
    .our_inspiration_heading {
        color: #0F0F0F;
        font-size: 48px;
        font-style: normal;
        font-weight: 800;
        line-height: 110%;

        >span {
            color: #EFB749;
        }
    }

    .our_inspiration_detail {
        max-width: 880px;
        color: #8D8D8D;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
    }

    .our_inspiration_cards {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 32px;
        width: 100%;

        .our_inspiration_card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
            border-radius: 16px;
            border: 1px solid #ECECEC;
            background: #FFF;
            box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.05);
            min-height: 344px;
            width: 100%;
            .our_inspiration_card_icon {
                display: flex;
                width: 54px;
                height: 54px;
                padding: 12px 12px 12px 12px;
                justify-content: center;
                align-items: center;

                border-radius: 2007.802px;
                background: var(--55555, #EFB749);
            }

            .our_inspiration_card_text {
                width: 218px;
                color: #0F0F0F;
                text-align: center;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 160%;
            }
        }
    }
}