.home_hero_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f1cf52;
  padding: 46px 6vw;
  .hero_content_section {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 26px;
    max-width: 513px;

    .hero_content_heading {
      color: #040404;
      font-size: 42px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    .hero_content_detail {
      color: #040404;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    .hero_content_btn {
      display: flex;
      width: 212px;
      height: 59px;
      justify-content: center;
      align-items: center;
      gap: 10px;

      border-radius: 1000px;
      background: #040404;

      .hero_btn_text {
        color: #f1cf52;
        text-align: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }
  }
  .hero_image_section {
    > img {
      width: 500px;
    }
  }
}

.achivements {
  display: flex;
  align-items: center;
  padding: 26px 4vw;
  justify-content: space-between;
  gap: 80px;
  background: #0f0f0f;
  .achivement_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    width: 300px;

    .achivement_title {
      color: #efb749;
      font-size: 52px;
      font-style: normal;
      font-weight: 800;
      line-height: 110%;
    }

    .achivement_sub_title {
      color: #efb749;
    }
  }
}

.product_img_section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 46px 6vw;

  > img {
    width: 100%;
    height: auto;
  }

  .product_img_section_btn {
    position: absolute;
    bottom: 0px;
    display: flex;
    width: 313px;
    height: 81px;
    justify-content: center;
    align-items: center;
    padding-left: 26px;
    padding-right: 26px;
    border-radius: 1000px;
    background: #efb749;
    box-shadow: 0px 4px 70px 0px rgba(239, 183, 73, 0.4);

    > span {
      color: #0f0f0f;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 110%;
    }
  }
}

.main_product_section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 60px;
  padding: 36px 6vw;

  .main_product_section_heading {
    color: #0f0f0f;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    width: 400px;

    > span {
      color: #efb749;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: 110%;
    }
  }

  .product {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;

    .product_images {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;

      .product_image {
        > img {
          cursor: pointer;
          width: 100%;
          min-width: 60px;
          height: auto;
        }
        padding: 23.601px 34.482px 25.399px 33.518px;
      }

      .active_product_image {
        border-radius: 16px;
        background: #ebebeb;
      }
    }

    .selectedProductImage {
      > img {
        width: 100%;
        min-width: 260px;
        height: auto;
      }
    }

    .selectedProductDetail {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 16px;
      max-width: 460px;
      .selected_product_rating_section {
        display: flex;
        align-items: center;
        gap: 5px;
        align-self: stretch;

        .rating_detail {
          color: #8e8e8d;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 110%;
        }
      }

      .selected_product_heading {
        color: #0f0f0f;
        font-size: 56px;
        font-style: normal;
        font-weight: 600;
        line-height: 110%;
      }

      .selected_product_paragraph {
        color: #0f0f0f;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
      }

      .price_section {
        display: flex;
        align-items: center;
        gap: 16px;
        align-self: stretch;

        .without_discount_price {
          color: #8d8d8d;
          font-size: 32px;
          font-style: normal;
          font-weight: 400;
          line-height: 110%;
          text-decoration-line: line-through;
        }

        .with_discount_price {
          color: #0f0f0f;
          font-size: 48px;
          font-style: normal;
          font-weight: 800;
          line-height: 110%;
        }

        .discount_persentage {
          display: flex;
          width: 103px;
          height: 43px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border-radius: 12px;
          background: #ff6058;

          > span {
            color: #fff;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 110%;
          }
        }
      }

      .add_to_cart_btn {
        cursor: pointer;
        display: flex;
        height: 81px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        align-self: stretch;
        border-radius: 1000px;
        background: #efb749;
        box-shadow: 0px 4px 70px 0px rgba(239, 183, 73, 0.4);

        > span {
          color: #0f0f0f;
          font-size: 28px;
          font-style: normal;
          font-weight: 700;
          line-height: 110%;
        }
      }

      .short_message {
        color: #2d2d2d;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
}

.faq_section {
  display: flex;
  padding: 46px 6vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  background: #0f0f0f;

  .faq_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    .faq_heading {
      color: #fff;
      text-align: center;
      font-size: 56px;
      font-style: normal;
      font-weight: 800;
      line-height: 110%;

      > span {
        color: #efb749;
        font-size: 56px;
        font-style: normal;
        font-weight: 800;
        line-height: 110%;
      }
    }

    .faq_paragraph {
      color: rgba(255, 255, 255, 0.8);
      text-align: center;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 180%;
    }
  }

  .faq_questions {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
    width: 100%;

    .faq_question_div {
      display: flex;
      width: 100%;
      gap: 32px;
      flex-direction: column;
      border-radius: 10px;
      background: rgba(255, 255, 255, 0.1);
      box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.05);
      padding: 32px;
      .faq_question_top {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        .faq_question {
          color: #fff;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: 110%;
        }
      }
      .faq_question_bottom{
        
        color: #fff
      }
    }
  }
}

@media (width < 1000px) {
  .our_inspiration {
    .our_inspiration_cards {
      gap: 12px;
      .our_inspiration_card {
        .our_inspiration_card_text {
          width: 200px;
        }
      }
    }
  }

  .main_product_section {
    .product {
      width: 100%;
      flex-direction: column;
      .product_images {
        flex-direction: row;
      }
      .selectedProductImage {
        display: none;
      }
    }
  }
}

@media (width < 900px) {
  .home_hero_section {
    .hero_image_section {
      > img {
        width: 360px;
      }
    }
  }
  .our_inspiration {
    .our_inspiration_cards {
      gap: 16px;
      flex-direction: column;
      width: 100%;
      .our_inspiration_card {
        width: 100%;
      }
    }
  }
}
@media (width < 700px) {
  .home_hero_section {
    .hero_image_section {
      display: none;
    }
  }
}
@media (width < 580px) {
  .main_product_section {
    .main_product_section_heading {
      font-size: 38px;
      font-weight: 600;
      > span {
        font-size: 38px;
        font-weight: 600;
      }
    }
  }
  .our_inspiration {
    .our_inspiration_heading {
      font-size: 36px;
      font-weight: 600;

      > span {
        color: #efb749;
      }
    }
  }
  .achivements {
    display: ruby-text;
    flex-direction: column;

    .achivement_section {
      padding: 20px;
    }
  }
  .product_img_section {
    .product_img_section_btn {
      bottom: 6%;
      width: 182px;
      height: 48px;

      > span {
        color: #0f0f0f;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 60%;
      }
    }
  }

  .review_section {
    .review_top_section {
      .review_heading {
        font-weight: 600;
        font-size: 36px;
        line-height: 80%;
        > span {
          font-weight: 600;
          font-size: 36px;
          line-height: 80%;
        }
      }
      .review_arrow_icons {
        .left_arrow {
          padding: 0;
          border: 0;
          box-shadow: 0;
        }
        .right_arrow {
          padding: 0;
          border: 0;
          box-shadow: 0;
        }
      }
    }
  }
}
